{% extends "layout.html" %}
{% block content %}
      <div style="text-align:center">
      <button class="buttons" id="student1">1</button>
      <button class="buttons" id="student2">2</button>
      <button class="buttons" id="student3">3</button>
      </div>
  <div class="ct-chart ct-perfect-fourth"></div>
  <script>

          var mychart;
          var getData = $.get('/data', {'id' : 'student1'});

          getData.done(function(results){
            // Our labels and three data series
var data = {
  labels: ['Week1', 'Week2', 'Week3', 'Week4', 'Week5', 'Week6'],
  series: [
   results.results
   ]
};
// We are setting a few options for our chart and override the defaults
var options = {
  // Don't draw the line chart points
  showPoint: false,
  // Disable line smoothing
  lineSmooth: false,
  // X-Axis specific configuration
  axisX: {
    // We can disable the grid for this axis
    showGrid: false,
    // and also don't show the label
    showLabel: true
  },
  // Y-Axis specific configuration
  axisY: {
    // Lets offset the chart a bit from the labels
    offset: 60,
    // The label interpolation function enables you to modify the values
    // used for the labels on each axis. Here we are converting the
    // values into million pound.
    labelInterpolationFnc: function(value) {
      return 'Mark:' + value + '';
    }
  },
  width: 600,
  height: 350,
};


// All you need to do is pass your configuration as third parameter to the chart function
mychart = new Chartist.Line('.ct-chart', data, options);

          });

        function update(id){
          var updatedata = $.get('/data',{'id': id});

          updatedata.done(function(results){
            var data = {
          labels: ['Week1', 'Week2', 'Week3', 'Week4', 'Week5', 'Week6'],
          series: [
          results.results
            ]
            };
          mychart.update(data);
          });
        }
        $('.buttons').on('click', function(){
          var id = $(this).attr('id');
          update(id)
        });

      </script>
 {% endblock content %}